* {
    box-sizing: border-box;
}

body {
    background: #444444;
    margin: 0;
    padding: 55px 16px 16px;
    color: #eeeeee;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-holder {
    margin-top: 8px;
}

.input-holder label {
    display: block;
}

.input-holder input, .input-holder button, .input-holder textarea {
    font-size: 20px;
    border-radius: 4px;
    border: #eeeeee 2px solid;
    background: #444444;
    color: #eeeeee;
    padding: 4px 8px;
}

a {
    color: #eeeeee;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #555555;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button {
    padding: 8px 16px;
}

.names-label {
    margin-top: 16px;
}

.names .name {
    padding: 16px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    margin-top: 16px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.data-holder .name {
    margin-bottom: 16px;
}

.data-holder .data {
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.secret {
    display: block;
    border: 2px solid #eeeeee;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #333333;
    overflow-wrap: anywhere;
    margin: 8px 0;
}

.copy {
    cursor: pointer;
}

.copy:hover, .copy:active {
    color: #bbbbbb;
}
