<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>PassKeeper</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.1.css') }}">
</head>
<body>
<div class="menu">
    <div class="button">
        <a href="{{ url_for('home') }}">Home</a>
    </div>
    {% if user %}
    <div class="button">
        <a href="{{ url_for('data_add') }}">Add Data</a>
    </div>
    <div class="button">
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    {% else %}
    <div class="button">
        <a href="{{ url_for('login') }}">Login</a>
    </div>
    <div class="button">
        <a href="{{ url_for('register') }}">Register</a>
    </div>
    {% endif %}
</div>
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="message">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='js/main.1.js') }}"></script>
</body>
</html>
