{% extends "base.html" %}
{% block content %}
<form action="{{ url_for('data_add') }}" method="post">
    <div class="input-holder">
        <label for="name">Account Name:</label>
        <input type="text" name="name" id="name" value="{% if name %}{{name}}{% endif %}">
    </div>
    <div class="input-holder">
        <label for="data">Security Data:</label>
        <textarea name="data" id="data"></textarea>
    </div>
    <div class="input-holder">
        <button type="submit">Save data</button>
    </div>
</form>
{% endblock %}
