{% extends "base.html" %}
{% block content %}
{% if data %}
<div class="data-holder container">
    <div class="name">Account name:</div>
    <div class="data copy">{{data.name}}</div>
    <div class="name">Security data:</div>
    <div class="data copy">{{data.data}}</div>
</div>
{% endif %}
{% endblock %}
