{% extends "base.html" %}
{% block content %}
{% if user %}
<div>Welcome, {{ user.username }}!</div>
{% if names %}
<div class="names-label">Select an account:</div>
<div class="names">
    {% for name in names %}
    <a class="name" href="{{ url_for('data_get') }}?name={{name}}">{{ name }}</a>
    {% endfor %}
</div>
{% endif %}
{% else %}
You are not logged in.
{% endif %}
{% endblock %}
