{% extends "base.html" %}
{% block content %}
<form action="{{ url_for('login') }}" method="post">
    <div class="input-holder">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="{% if username %}{{username}}{% endif %}">
    </div>
    <div class="input-holder">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </div>
    <div class="input-holder">
        <label for="secret">Secret:</label>
        <input type="password" name="secret" id="secret">
    </div>
    <div class="input-holder">
        <button type="submit">Login</button>
    </div>
</form>
{% endblock %}
