{% extends "base.html" %}
{% block content %}
{% if user %}
<div>Your secret is:</div>
<div class="secret copy">{{ user.secret }}</div>
<div>Remember it or click to copy!</div>
{% endif %}
{% endblock %}
